.navbar {
  background-color: #2d4c33;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.login-button {
  background-color: #0a8046;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: #066437;
}
